@import url("https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css");
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css');
@import url(./components/nav.css); 
@import url(./components/header.css);
@import url(./components/news.css);
@import url(./components/firsetSection.css);
@import url(./components/secondSection.css);
@import url(./components/thirdSection.css);
@import url(./components/footer.css);


*{
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
body {
    all : unset;
}
h1 {
    font-size: 1.8rem;
    margin: 10px;
    font-weight: bold;
    text-align: center;
}
h2 {
    font-size: 1.6rem;
    padding: 5px;
}
h3 {
    font-size: 1.4rem;
    font-weight: bold;
    padding: 10px;
}
h4 {
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
}